.cover__subtitle {
    max-width: 360px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    position: relative;
}

@media screen and (max-width: 530px) {
    .cover__subtitle {
        max-width: 260px;
        font-size: 14px;
        line-height: 16px;
     }
}