.place__paragraph {
    margin: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 670px) {
    .place__paragraph {
        margin: 32px 16px 0;
    }
}