.footer__copyright {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #fff;
    vertical-align: bottom;
}

@media screen and (max-width: 703px) {
    .footer__copyright {
        padding: 16px 0 0;
    }
}