.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    vertical-align: bottom;
}

@media screen and (max-width: 703px) {
    .footer__copyright {
        padding: 16px 0 0;
    }
}