.content__intro {
    max-width: 690px;
    margin: 92px 148px;
 }

@media screen and (max-width: 1279px) {
    .content__intro {
        margin: 92px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .content__intro {
        max-width: 720px;
        margin: 88px 24px;
    }
}

@media screen and (max-width: 530px) {
    .content__intro {
        max-width: 100%;
        margin: 64px 16px;
    }
}