.content__intro {
    max-width: 690px;
    margin: 92px 0;
    padding: 0 100px;
}

@media screen and (max-width: 1279px) {
    .content__intro {
        padding: 0;
    }
}

@media screen and (max-width: 1023px) {
    .content__intro {
        max-width: 720px;
        padding: 0 24px;
        margin: 88px 0;
    }
}