.content__lead {
    max-width: 100%;
    padding: 0 100px;
    margin: 56px 0 0;
}

@media screen and (max-width: 1279px) {
    .content__lead {
        padding: 0;
        margin: 48px 0 0;
    }
}

@media screen and (max-width: 530px) {
    .content__lead {
        padding: 0;
        margin: 48px 0 0;
    }
}