.place__item {
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: min-content 460px;
    gap: 48px 40px;
}

@media screen and (max-width: 1279px) {
    .place__item {
        gap: 48px 32px;
        grid-template-columns: 440px 1fr;
        grid-template-rows: min-content 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__item {
        gap: 48px 28px;
        grid-template-columns: 340px 1fr;
        grid-template-rows: min-content max-content;
    }
}

@media screen and (max-width: 670px) {
    .place__item {
        display: block;
     }
}